@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,400;10..48,600;10..48,800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
    border-radius: 30px;
}
body{
    background-color: moccasin;
    font-family: 'Bricolage Grotesque', sans-serif;
}
.container{
    background-color: white;
    padding: 2.5em 2.5em;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    width: 40%;
    min-width: 380px;
    border-radius: 0.62em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.search-wrapper{
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 1.25em;
}
.search-wrapper button{
    font-size: 1em;
    background-color: moccasin;
    font-weight: 700;
    padding-block: 5px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}
.search-wrapper input{
    font-size: 1em;
    padding: 0 0.62em;
    border: none;
    border-bottom: 2px solid navajowhite;
    outline: none;
    color: #222a43;
}
.flag-img{
    padding: 20px;
}
#result h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    padding-bottom: 10px;
}
#result .data-span-wrapper{
    display: block;
    margin-bottom: 10px;
    font-weight: 800;
    font-size: 17px;
}
#result .data-span{
    font-weight: 400;
}
.title-guide{
    text-align: center;
    margin-top: 20px;
}
#result h3{
    padding-top: 20px;
}